* {
  box-sizing: border-box;
}
.window {
  background: #ccc;
  width: 370px;
  height: 360px;
  border-radius: 5px;
}
.header {
  height: 8%;
  background-color: blueviolet;
  cursor: move;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: inherit;
  padding: 5px;
  font-size: 20px;
}
.windowIcon {
  width: 20px;
}
.windowIcon:hover {
  cursor: pointer;
}
